CompileFlags:
  CompilationDatabase: build
  Add:
    - -isystem/usr/lib/gcc/x86_64-linux-gnu
    - -isystem/usr/local/include
    - -isystem/usr/include/x86_64-linux-gnu
    - -isystem/usr/include
    - -isystem/usr/include/hdf5/serial